body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 1em;
}

#location-input {
    padding: 0.5em;
    width: 300px;
}

#weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#weather-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.weather-card {
    border: 1px solid #23258d;
    border-radius: 5px;
    margin: 0.5em;
    padding: 1em;
    width: 200px;
}

.weather-card h2 {
    margin: 0;
}

.weather-card p {
    margin-top: 0.5em;
}
